<div class="edit-dialog-container">
  <h3 mat-dialog-title>Edit driver</h3>
  <div mat-dialog-content>
    <form [formGroup]="driverForm">
      <mat-form-field class="form-field">
        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Phone number"
          matInput
          formControlName="phone"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Email"
          matInput
          formControlName="email"
        />
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="!driverForm.valid"
    >
      Save
    </button>
  </div>
</div>
