@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$primary-color: #353535;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  overflow: hidden;
  height: 100vh;
  color: $primary-color;
}

body a {
  text-decoration: none;
  color: $primary-color;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(152, 152, 152, 0.33);
  box-shadow: 0px 0px 3px 0px rgba(152, 152, 152, 0.33);
  border-radius: 5px;
  transition: box-shadow 0.2s linear;

  &:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(140, 140, 140, 0.5);
    box-shadow: 0px 0px 13px 0px rgba(140, 140, 140, 0.5);
    transition: box-shadow 0.2s linear;
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #00ff95;
}
